######################
# Eclipse
######################
.project
.metadata
.classpath
.settings/
.springBeans
.pmd
.factorypath

######################
# Eclipse ObjectAidUML
######################
*.ucls

######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Maven
######################
target/
bin/

######################
# Windows
######################
# Windows image file caches
Thumbs.db

######################
# Logs
######################

######################
# Mardown preview
######################
*.md.html




datasource-plugins/aip-datasource/dependency-reduced-pom\.xml

storage-plugins/catalog-security-delegation/dependency-reduced-pom\.xml

deliver_brutaly\.sh

\.idea/
